@font-face {
  font-family: 'uxfont-2';
  src: url('#{$icon-font-path}#{$icon-font-name-2}.woff2') format('woff2'),
  url('#{$icon-font-path}#{$icon-font-name-2}.woff') format('woff')
}

.uxicon-2 {
  font-family: 'uxfont-2';
}

.uxicon-cloud                 { @include uxicon-mixin("2601", 2);}
.uxicon-cloud-download        { @include uxicon-mixin("e025", 2);}
.uxicon-copy                  { @include uxicon-mixin("e076", 2);}
.uxicon-grab-vert             { @include uxicon-mixin("e269", 2);}
.uxicon-link                  { @include uxicon-mixin("e027", 2);}
.uxicon-link-delete           { @include uxicon-mixin("e028", 2);}
.uxicon-position-e            { @include uxicon-mixin("e392", 2);}
.uxicon-position-ne           { @include uxicon-mixin("e253", 2);}
.uxicon-position-nw           { @include uxicon-mixin("e251", 2);}
.uxicon-position-se           { @include uxicon-mixin("e256", 2);}
.uxicon-position-sw           { @include uxicon-mixin("e254", 2);}
.uxicon-position-w            { @include uxicon-mixin("e393", 2);}
.uxicon-redo                  { @include uxicon-mixin("e061", 2);}
.uxicon-share                 { @include uxicon-mixin("e306", 2);}
.uxicon-zoom-in               { @include uxicon-mixin("e237", 2);}
.uxicon-zoom-out              { @include uxicon-mixin("e238", 2);}
.uxicon-airplane              { @include uxicon-mixin("e282", 2);}
.uxicon-alarm                 { @include uxicon-mixin("e054", 2);}
.uxicon-album                 { @include uxicon-mixin("e090", 2);}
.uxicon-album-check           { @include uxicon-mixin("e088", 2);}
.uxicon-album-contacts        { @include uxicon-mixin("e089", 2);}
.uxicon-anchor                { @include uxicon-mixin("2693", 2);}
.uxicon-asterisk              { @include uxicon-mixin("002a", 2);}
.uxicon-backspace             { @include uxicon-mixin("e257", 2);}
.uxicon-backward              { @include uxicon-mixin("e173", 2);}
.uxicon-barcode               { @include uxicon-mixin("e259", 2);}
.uxicon-binoculars            { @include uxicon-mixin("e239", 2);}
.uxicon-bluetooth             { @include uxicon-mixin("e226", 2);}
.uxicon-briefcase             { @include uxicon-mixin("e332", 2);}
.uxicon-brightness-down       { @include uxicon-mixin("e189", 2);}
.uxicon-brightness-up         { @include uxicon-mixin("e190", 2);}
.uxicon-cart-add              { @include uxicon-mixin("e210", 2);}
.uxicon-cart-remove           { @include uxicon-mixin("e209", 2);}
.uxicon-circle-half           { @include uxicon-mixin("e092", 2);}
.uxicon-compass               { @include uxicon-mixin("e240", 2);}
.uxicon-cut                   { @include uxicon-mixin("e286", 2);}
.uxicon-database-lock         { @include uxicon-mixin("e141", 2);}
.uxicon-db-add                { @include uxicon-mixin("e142", 2);}
.uxicon-db-delete             { @include uxicon-mixin("e143", 2);}
.uxicon-db-remove             { @include uxicon-mixin("e144", 2);}
.uxicon-divide                { @include uxicon-mixin("f7", 2);}
.uxicon-dollar                { @include uxicon-mixin("e228", 2);}
.uxicon-dropdown-outline      { @include uxicon-mixin("e084", 2);}
.uxicon-dropdown-solid        { @include uxicon-mixin("e087", 2);}
.uxicon-drops                 { @include uxicon-mixin("e093", 2);}
.uxicon-eject                 { @include uxicon-mixin("e180", 2);}
.uxicon-ellipses              { @include uxicon-mixin("e188", 2);}
.uxicon-euro                  { @include uxicon-mixin("20ac", 2);}
.uxicon-facebook-outline      { @include uxicon-mixin("e355", 2);}
.uxicon-fast-backward         { @include uxicon-mixin("e172", 2);}
.uxicon-fast-forward          { @include uxicon-mixin("e178", 2);}
.uxicon-file                  { @include uxicon-mixin("e131", 2);}
.uxicon-file-add              { @include uxicon-mixin("e132", 2);}
.uxicon-file-delete           { @include uxicon-mixin("e133", 2);}
.uxicon-file-down             { @include uxicon-mixin("e135", 2);}
.uxicon-file-lock             { @include uxicon-mixin("e134", 2);}
.uxicon-file-up               { @include uxicon-mixin("e136", 2);}
.uxicon-fire                  { @include uxicon-mixin("e347", 2);}
.uxicon-folder-add            { @include uxicon-mixin("e146", 2);}
.uxicon-folder-asterisk       { @include uxicon-mixin("e150", 2);}
.uxicon-folder-delete         { @include uxicon-mixin("e147", 2);}
.uxicon-folder-flag           { @include uxicon-mixin("e149", 2);}
.uxicon-folder-lock           { @include uxicon-mixin("e148", 2);}
.uxicon-forward               { @include uxicon-mixin("e177", 2);}
.uxicon-frame                 { @include uxicon-mixin("e068", 2);}
.uxicon-gd-logo               { @include uxicon-mixin("e466", 2);}
.uxicon-gd-logo-outline       { @include uxicon-mixin("e468", 2);}
.uxicon-global-checked        { @include uxicon-mixin("e304", 2);}
.uxicon-global-east           { @include uxicon-mixin("e302", 2);}
.uxicon-global-remove         { @include uxicon-mixin("e303", 2);}
.uxicon-global-west           { @include uxicon-mixin("e300", 2);}
.uxicon-grid-960              { @include uxicon-mixin("e160", 2);}
.uxicon-heart-outline         { @include uxicon-mixin("e020", 2);}
.uxicon-laptop                { @include uxicon-mixin("e162", 2);}
.uxicon-leaf                  { @include uxicon-mixin("e002", 2);}
.uxicon-lightbulb             { @include uxicon-mixin("e065", 2);}
.uxicon-lightning             { @include uxicon-mixin("e241", 2);}
.uxicon-location              { @include uxicon-mixin("e234", 2);}
.uxicon-mail-add              { @include uxicon-mixin("e125", 2);}
.uxicon-mail-add-2            { @include uxicon-mixin("e123", 2);}
.uxicon-mail-asterisk         { @include uxicon-mixin("e130", 2);}
.uxicon-mail-clear            { @include uxicon-mixin("e126", 2);}
.uxicon-mail-delete           { @include uxicon-mixin("e127", 2);}
.uxicon-mail-flag             { @include uxicon-mixin("e128", 2);}
.uxicon-mail-lock             { @include uxicon-mixin("e129", 2);}
.uxicon-mail-open2            { @include uxicon-mixin("e122", 2);}
.uxicon-mail-remove           { @include uxicon-mixin("e124", 2);}
.uxicon-microphone            { @include uxicon-mixin("e328", 2);}
.uxicon-mobile-add            { @include uxicon-mixin("e168", 2);}
.uxicon-mobile-delete         { @include uxicon-mixin("e167", 2);}
.uxicon-mobile-pair           { @include uxicon-mixin("e166", 2);}
.uxicon-mobile-transmit       { @include uxicon-mixin("e165", 2);}
.uxicon-moon                  { @include uxicon-mixin("e231", 2);}
.uxicon-music                 { @include uxicon-mixin("e181", 2);}
.uxicon-mute                  { @include uxicon-mixin("e183", 2);}
.uxicon-note                  { @include uxicon-mixin("e019", 2);}
.uxicon-note-full             { @include uxicon-mixin("e018", 2);}
.uxicon-paintbrush            { @include uxicon-mixin("e235", 2);}
.uxicon-paperclip             { @include uxicon-mixin("e344", 2);}
.uxicon-pause                 { @include uxicon-mixin("e175", 2);}
.uxicon-pin-box               { @include uxicon-mixin("e086", 2);}
.uxicon-pointer-down          { @include uxicon-mixin("e343", 2);}
.uxicon-pointer-left          { @include uxicon-mixin("e338", 2);}
.uxicon-pointer-right         { @include uxicon-mixin("e337", 2);}
.uxicon-pointer-up            { @include uxicon-mixin("e341", 2);}
.uxicon-pound                 { @include uxicon-mixin("e229", 2);}
.uxicon-power                 { @include uxicon-mixin("e064", 2);}
.uxicon-qr-code               { @include uxicon-mixin("e258", 2);}
.uxicon-random                { @include uxicon-mixin("e182", 2);}
.uxicon-recycle               { @include uxicon-mixin("e083", 2);}
.uxicon-resize                { @include uxicon-mixin("e186", 2);}
.uxicon-resize-lg             { @include uxicon-mixin("e216", 2);}
.uxicon-resize-sm             { @include uxicon-mixin("e215", 2);}
.uxicon-ruler                 { @include uxicon-mixin("e069", 2);}
.uxicon-save-delete           { @include uxicon-mixin("e320", 2);}
.uxicon-save-open             { @include uxicon-mixin("e322", 2);}
.uxicon-save-pull             { @include uxicon-mixin("e321", 2);}
.uxicon-saved                 { @include uxicon-mixin("e319", 2);}
.uxicon-signal                { @include uxicon-mixin("e323", 2);}
.uxicon-step-backward         { @include uxicon-mixin("e171", 2);}
.uxicon-step-forward          { @include uxicon-mixin("e179", 2);}
.uxicon-stop                  { @include uxicon-mixin("e176", 2);}
.uxicon-stop-delete           { @include uxicon-mixin("e400", 2);}
.uxicon-stopwatch             { @include uxicon-mixin("e056", 2);}
.uxicon-subscript             { @include uxicon-mixin("e278", 2);}
.uxicon-sun                   { @include uxicon-mixin("e230", 2);}
.uxicon-tablet                { @include uxicon-mixin("e163", 2);}
.uxicon-tag                   { @include uxicon-mixin("e066", 2);}
.uxicon-tags                  { @include uxicon-mixin("e067", 2);}
.uxicon-thumbs-down           { @include uxicon-mixin("e335", 2);}
.uxicon-thumbs-up             { @include uxicon-mixin("e333", 2);}
.uxicon-tumbler               { @include uxicon-mixin("e416", 2);}
.uxicon-turtle                { @include uxicon-mixin("e331", 2);}
.uxicon-umbrella              { @include uxicon-mixin("e014", 2);}
.uxicon-user-add              { @include uxicon-mixin("e006", 2);}
.uxicon-user-delete           { @include uxicon-mixin("e007", 2);}
.uxicon-video-camera          { @include uxicon-mixin("e170", 2);}
.uxicon-volume-down           { @include uxicon-mixin("e184", 2);}
.uxicon-volume-up             { @include uxicon-mixin("e185", 2);}
.uxicon-wi-fi                 { @include uxicon-mixin("e074", 2);}
.uxicon-wi-fi2                { @include uxicon-mixin("e033", 2);}
.uxicon-accelerator           { @include uxicon-mixin("e295", 2);}
.uxicon-at                    { @include uxicon-mixin("e029", 2);}
.uxicon-bulleted-list         { @include uxicon-mixin("e158", 2);}
.uxicon-check-brush           { @include uxicon-mixin("e079", 2);}
.uxicon-clipboard             { @include uxicon-mixin("e030", 2);}
.uxicon-clipboard-copied      { @include uxicon-mixin("e034", 2);}
.uxicon-clipboard-text        { @include uxicon-mixin("e404", 2);}
.uxicon-clock-refresh         { @include uxicon-mixin("e057", 2);}
.uxicon-forward-2             { @include uxicon-mixin("e222", 2);}
.uxicon-gift                  { @include uxicon-mixin("e070", 2);}
.uxicon-graph                 { @include uxicon-mixin("e041", 2);}
.uxicon-grid-sm               { @include uxicon-mixin("e157", 2);}
.uxicon-horizontal-menu       { @include uxicon-mixin("e273", 2);}
.uxicon-orientation-lock      { @include uxicon-mixin("e059", 2);}
.uxicon-plug                  { @include uxicon-mixin("e410", 2);}
.uxicon-remove-outline        { @include uxicon-mixin("e409", 2);}
.uxicon-reply                 { @include uxicon-mixin("e221", 2);}
.uxicon-reply-all             { @include uxicon-mixin("e223", 2);}
.uxicon-server-add            { @include uxicon-mixin("e288", 2);}
.uxicon-server-asterisk       { @include uxicon-mixin("e293", 2);}
.uxicon-server-delete         { @include uxicon-mixin("e290", 2);}
.uxicon-server-flag           { @include uxicon-mixin("e291", 2);}
.uxicon-server-locked         { @include uxicon-mixin("e292", 2);}
.uxicon-server-remove         { @include uxicon-mixin("e289", 2);}
.uxicon-star-half             { @include uxicon-mixin("e415", 2);}
.uxicon-vertical-menu         { @include uxicon-mixin("e274", 2);}
.uxicon-windows08             { @include uxicon-mixin("e430", 2);}
.uxicon-align-center          { @include uxicon-mixin("e112", 2);}
.uxicon-align-justify         { @include uxicon-mixin("e114", 2);}
.uxicon-align-left            { @include uxicon-mixin("e111", 2);}
.uxicon-align-right           { @include uxicon-mixin("e113", 2);}
.uxicon-amazon-box            { @include uxicon-mixin("e371", 2);}
.uxicon-apps                  { @include uxicon-mixin("e001", 2);}
.uxicon-at-box                { @include uxicon-mixin("e380", 2);}
.uxicon-blogger-box           { @include uxicon-mixin("e365", 2);}
.uxicon-bold                  { @include uxicon-mixin("e103", 2);}
.uxicon-bounding-box          { @include uxicon-mixin("e100", 2);}
.uxicon-box-2                 { @include uxicon-mixin("e437", 2);}
.uxicon-bring-forward         { @include uxicon-mixin("e154", 2);}
.uxicon-brush-pencil          { @include uxicon-mixin("e351", 2);}
.uxicon-clear-formatting      { @include uxicon-mixin("e279", 2);}
.uxicon-create-form           { @include uxicon-mixin("e398", 2);}
.uxicon-create-line           { @include uxicon-mixin("e403", 2);}
.uxicon-create-nav            { @include uxicon-mixin("e397", 2);}
.uxicon-crop                  { @include uxicon-mixin("e094", 2);}
.uxicon-disc-delete           { @include uxicon-mixin("e317", 2);}
.uxicon-disc-save             { @include uxicon-mixin("e314", 2);}
.uxicon-disc-saved            { @include uxicon-mixin("e315", 2);}
.uxicon-dropdown              { @include uxicon-mixin("e438", 2);}
.uxicon-equal-width           { @include uxicon-mixin("e276", 2);}
.uxicon-eye-dropper           { @include uxicon-mixin("e091", 2);}
.uxicon-facebook-box          { @include uxicon-mixin("e376", 2);}
.uxicon-facebook-circle       { @include uxicon-mixin("e387", 2);}
.uxicon-facebook-shop         { @include uxicon-mixin("e414", 2);}
.uxicon-flatrate              { @include uxicon-mixin("e436", 2);}
.uxicon-full-width            { @include uxicon-mixin("e275", 2);}
.uxicon-google-plus-box       { @include uxicon-mixin("e360", 2);}
.uxicon-google-plus-circle    { @include uxicon-mixin("e389", 2);}
.uxicon-img-edit              { @include uxicon-mixin("e262", 2);}
.uxicon-img-gallery           { @include uxicon-mixin("e394", 2);}
.uxicon-img-link              { @include uxicon-mixin("e263", 2);}
.uxicon-img-resize            { @include uxicon-mixin("e265", 2);}
.uxicon-img-settings          { @include uxicon-mixin("e261", 2);}
.uxicon-img-slider            { @include uxicon-mixin("e395", 2);}
.uxicon-indent-left           { @include uxicon-mixin("e110", 2);}
.uxicon-indent-right          { @include uxicon-mixin("e109", 2);}
.uxicon-instagram             { @include uxicon-mixin("e378", 2);}
.uxicon-italics               { @include uxicon-mixin("e102", 2);}
.uxicon-line-curved           { @include uxicon-mixin("e099", 2);}
.uxicon-line-straight         { @include uxicon-mixin("e098", 2);}
.uxicon-linkedin-box          { @include uxicon-mixin("e374", 2);}
.uxicon-locu                  { @include uxicon-mixin("e356", 2);}
.uxicon-locu-box              { @include uxicon-mixin("e373", 2);}
.uxicon-map                   { @include uxicon-mixin("e247", 2);}
.uxicon-narrow                { @include uxicon-mixin("e407", 2);}
.uxicon-nav                   { @include uxicon-mixin("e048", 2);}
.uxicon-numbered-list         { @include uxicon-mixin("e280", 2);}
.uxicon-page                  { @include uxicon-mixin("e037", 2);}
.uxicon-picasa-box            { @include uxicon-mixin("e366", 2);}
.uxicon-pin                   { @include uxicon-mixin("e051", 2);}
.uxicon-pinterest-box         { @include uxicon-mixin("e358", 2);}
.uxicon-remove-from-page      { @include uxicon-mixin("e326", 2);}
.uxicon-retweet               { @include uxicon-mixin("e081", 2);}
.uxicon-rotate                { @include uxicon-mixin("e075", 2);}
.uxicon-send-backward         { @include uxicon-mixin("e155", 2);}
.uxicon-settings3             { @include uxicon-mixin("e140", 2);}
.uxicon-shape-circle          { @include uxicon-mixin("e096", 2);}
.uxicon-shape-polygon         { @include uxicon-mixin("e097", 2);}
.uxicon-shape-square          { @include uxicon-mixin("e095", 2);}
.uxicon-social                { @include uxicon-mixin("e310", 2);}
.uxicon-strike-through        { @include uxicon-mixin("e105", 2);}
.uxicon-superscript           { @include uxicon-mixin("e101", 2);}
.uxicon-table                 { @include uxicon-mixin("e284", 2);}
.uxicon-table-drop            { @include uxicon-mixin("e285", 2);}
.uxicon-tag-comment           { @include uxicon-mixin("e120", 2);}
.uxicon-tag-end               { @include uxicon-mixin("e119", 2);}
.uxicon-tag-open              { @include uxicon-mixin("e118", 2);}
.uxicon-text-decrease         { @include uxicon-mixin("e116", 2);}
.uxicon-text-highlight        { @include uxicon-mixin("e402", 2);}
.uxicon-text-increase         { @include uxicon-mixin("e117", 2);}
.uxicon-text-resize           { @include uxicon-mixin("e108", 2);}
.uxicon-text-scale-horiz      { @include uxicon-mixin("e107", 2);}
.uxicon-text-scale-vertically { @include uxicon-mixin("e106", 2);}
.uxicon-text-tool             { @include uxicon-mixin("e277", 2);}
.uxicon-truck                 { @include uxicon-mixin("e432", 2);}
.uxicon-twitter               { @include uxicon-mixin("e354", 2);}
.uxicon-twitter-box           { @include uxicon-mixin("e377", 2);}
.uxicon-twitter-circle        { @include uxicon-mixin("e388", 2);}
.uxicon-underline             { @include uxicon-mixin("e104", 2);}
.uxicon-video                 { @include uxicon-mixin("e009", 2);}
.uxicon-website-send          { @include uxicon-mixin("e045", 2);}
.uxicon-weight                { @include uxicon-mixin("e435", 2);}
.uxicon-widen                 { @include uxicon-mixin("e406", 2);}
.uxicon-yelp                  { @include uxicon-mixin("e353", 2);}
.uxicon-yelp-box              { @include uxicon-mixin("e384", 2);}
.uxicon-youtube-box           { @include uxicon-mixin("e375", 2);}
.uxicon-youtube-circle        { @include uxicon-mixin("e390", 2);}
