@font-face {
  font-family: 'uxfont';
  src: url('#{$icon-font-path}#{$icon-font-name}.eot');
  src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}#{$icon-font-name}.woff2') format('woff2'),
  url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
  url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype');
}

.uxicon-check-outline         { @include uxicon-mixin("e199");}
.uxicon-alert                 { @include uxicon-mixin("e197");}
.uxicon-checkmark             { @include uxicon-mixin("e207");}
.uxicon-chevron-right-lt      { @include uxicon-mixin("e367");}
.uxicon-chevron-left-lt       { @include uxicon-mixin("e368");}
.uxicon-plus                  { @include uxicon-mixin("002b");}
.uxicon-delete-outline        { @include uxicon-mixin("e198");}
.uxicon-settings              { @include uxicon-mixin("e137");}
.uxicon-chevron-down-lt       { @include uxicon-mixin("e369");}
.uxicon-information           { @include uxicon-mixin("e196");}
.uxicon-trash                 { @include uxicon-mixin("e017");}
.uxicon-x                     { @include uxicon-mixin("e208");}
.uxicon-edit                  { @include uxicon-mixin("e151");}
.uxicon-help                  { @include uxicon-mixin("e195");}
.uxicon-magnifying-glass      { @include uxicon-mixin("e236");}
.uxicon-chevron-sign-right    { @include uxicon-mixin("e218");}
.uxicon-chevron-down          { @include uxicon-mixin("e077");}
.uxicon-chevron-dbl-left-lt   { @include uxicon-mixin("e421");}
.uxicon-chevron-dbl-right-lt  { @include uxicon-mixin("e399");}
.uxicon-chevron-right         { @include uxicon-mixin("e224");}
.uxicon-chevron-up            { @include uxicon-mixin("e078");}
.uxicon-circle-outline        { @include uxicon-mixin("e169");}
.uxicon-ok                    { @include uxicon-mixin("e194");}
.uxicon-locked                { @include uxicon-mixin("e206");}
.uxicon-add-outline           { @include uxicon-mixin("e201");}
.uxicon-refresh               { @include uxicon-mixin("e082");}
.uxicon-mail                  { @include uxicon-mixin("2709");}
.uxicon-world                 { @include uxicon-mixin("e305");}
.uxicon-save                  { @include uxicon-mixin("e318");}
.uxicon-chevron-left          { @include uxicon-mixin("e225");}
.uxicon-radio-filled          { @include uxicon-mixin("e391");}
.uxicon-phone                 { @include uxicon-mixin("e324");}
.uxicon-minus                 { @include uxicon-mixin("2212");}
.uxicon-pencil                { @include uxicon-mixin("270f");}
.uxicon-comment               { @include uxicon-mixin("e246");}
.uxicon-tools                 { @include uxicon-mixin("e281");}
.uxicon-undo                  { @include uxicon-mixin("e060");}
.uxicon-chevron-up-lt         { @include uxicon-mixin("e370");}
.uxicon-no                    { @include uxicon-mixin("e200");}
.uxicon-cart                  { @include uxicon-mixin("e203");}
.uxicon-user                  { @include uxicon-mixin("e004");}
.uxicon-arrow-down-solid      { @include uxicon-mixin("e213");}
.uxicon-grid-horizontal       { @include uxicon-mixin("e159");}
.uxicon-clock                 { @include uxicon-mixin("e055");}
.uxicon-download              { @include uxicon-mixin("e266");}
.uxicon-grid-lg               { @include uxicon-mixin("e156");}
.uxicon-box                   { @include uxicon-mixin("e153");}
.uxicon-cloud-upload          { @include uxicon-mixin("e026");}
.uxicon-eye                   { @include uxicon-mixin("e052");}
.uxicon-mobile-phone          { @include uxicon-mixin("e164");}
.uxicon-server2               { @include uxicon-mixin("e287");}
.uxicon-settings2             { @include uxicon-mixin("e138");}
.uxicon-ubuntu                { @include uxicon-mixin("e426");}
.uxicon-delete-fill           { @include uxicon-mixin("e193");}
.uxicon-map-pin               { @include uxicon-mixin("e243");}
.uxicon-privacy               { @include uxicon-mixin("e431");}
.uxicon-img                   { @include uxicon-mixin("e260");}
.uxicon-add-fill              { @include uxicon-mixin("e191");}
.uxicon-remove                { @include uxicon-mixin("e192");}
.uxicon-bookmark              { @include uxicon-mixin("e346");}
.uxicon-calendar-date         { @include uxicon-mixin("e297");}
.uxicon-grab-sq               { @include uxicon-mixin("e270");}
.uxicon-print                 { @include uxicon-mixin("e016");}
.uxicon-arrow-left            { @include uxicon-mixin("e211");}
.uxicon-arrow-right           { @include uxicon-mixin("e212");}
.uxicon-arrow-up-solid        { @include uxicon-mixin("e214");}
.uxicon-blog                  { @include uxicon-mixin("e308");}
.uxicon-blog-lines            { @include uxicon-mixin("e309");}
.uxicon-desktop               { @include uxicon-mixin("e161");}
.uxicon-folder-open           { @include uxicon-mixin("e145");}
.uxicon-play                  { @include uxicon-mixin("e174");}
.uxicon-pulse                 { @include uxicon-mixin("e283");}
.uxicon-shield                { @include uxicon-mixin("e271");}
.uxicon-bar-graph             { @include uxicon-mixin("e042");}
.uxicon-blackberry            { @include uxicon-mixin("e411");}
.uxicon-check-box             { @include uxicon-mixin("e080");}
.uxicon-clipboard-edit        { @include uxicon-mixin("e035");}
.uxicon-drive                 { @include uxicon-mixin("e313");}
.uxicon-excel                 { @include uxicon-mixin("e420");}
.uxicon-outlook               { @include uxicon-mixin("e418");}
.uxicon-powerpoint            { @include uxicon-mixin("e417");}
.uxicon-revert                { @include uxicon-mixin("e058");}
.uxicon-thunderbird           { @include uxicon-mixin("e429");}
.uxicon-word                  { @include uxicon-mixin("e419");}
.uxicon-add-page              { @include uxicon-mixin("e401");}
.uxicon-android-box           { @include uxicon-mixin("e385");}
.uxicon-apple-box             { @include uxicon-mixin("e381");}
.uxicon-bullets               { @include uxicon-mixin("e115");}
.uxicon-home                  { @include uxicon-mixin("e021");}
.uxicon-map-pinned            { @include uxicon-mixin("e248");}
.uxicon-package               { @include uxicon-mixin("e348");}
.uxicon-pinned                { @include uxicon-mixin("e405");}
.uxicon-sight                 { @include uxicon-mixin("e350");}
.uxicon-windows-box           { @include uxicon-mixin("e382");}
.uxicon-yahoo-box             { @include uxicon-mixin("e364");}
.uxicon-calendar              { @include uxicon-mixin("e296");}
.uxicon-coins                 { @include uxicon-mixin("e038");}
.uxicon-create-btn            { @include uxicon-mixin("e396");}
.uxicon-currency              { @include uxicon-mixin("e040");}
.uxicon-exchange              { @include uxicon-mixin("e327");}
.uxicon-mail-open             { @include uxicon-mixin("e121");}
.uxicon-users                 { @include uxicon-mixin("e008");}
.uxicon-archlinux             { @include uxicon-mixin("e425");}
.uxicon-centos                { @include uxicon-mixin("e422");}
.uxicon-debian                { @include uxicon-mixin("e423");}
.uxicon-fedora                { @include uxicon-mixin("e424");}
.uxicon-magic                 { @include uxicon-mixin("e010");}
.uxicon-pie-graph             { @include uxicon-mixin("e043");}
.uxicon-star-outline          { @include uxicon-mixin("e049");}
.uxicon-users2                { @include uxicon-mixin("e044");}
.uxicon-windowsserver         { @include uxicon-mixin("e427");}
.uxicon-add-to-page           { @include uxicon-mixin("e325");}
.uxicon-camera                { @include uxicon-mixin("e345");}
.uxicon-delivery              { @include uxicon-mixin("e349");}
.uxicon-homefinder            { @include uxicon-mixin("e357");}
.uxicon-website               { @include uxicon-mixin("e047");}
.uxicon-wordpress-box         { @include uxicon-mixin("e372");}
.uxicon-chevron-sign-down     { @include uxicon-mixin("e220");}
.uxicon-chevron-sign-left     { @include uxicon-mixin("e217");}
.uxicon-chevron-sign-up       { @include uxicon-mixin("e219");}
.uxicon-filter                { @include uxicon-mixin("e139");}
.uxicon-flag                  { @include uxicon-mixin("e267");}
.uxicon-heart-fill            { @include uxicon-mixin("e013");}
.uxicon-move                  { @include uxicon-mixin("e187");}
.uxicon-rabbit                { @include uxicon-mixin("e329");}
.uxicon-unlocked              { @include uxicon-mixin("e205");}
.uxicon-comments              { @include uxicon-mixin("e245");}
.uxicon-edit-outline          { @include uxicon-mixin("e408");}
.uxicon-serve                 { @include uxicon-mixin("e062");}
.uxicon-star                  { @include uxicon-mixin("e050");}
.uxicon-credit-card           { @include uxicon-mixin("e268");}
.uxicon-paypal                { @include uxicon-mixin("e352");}
.uxicon-receipt               { @include uxicon-mixin("e439");}
.uxicon-sm-business           { @include uxicon-mixin("e294");}
.uxicon-window                { @include uxicon-mixin("e152");}
.uxicon-eye-close             { @include uxicon-mixin("e053");}
.uxicon-position-s            { @include uxicon-mixin("e255");}
.uxicon-position-n            { @include uxicon-mixin("e252");}
.uxicon-alarm2                { @include uxicon-mixin("e442");}
.uxicon-drop-down             { @include uxicon-mixin("e443");}
.uxicon-drop-up               { @include uxicon-mixin("e444");}
.uxicon-drop-right            { @include uxicon-mixin("e445");}
.uxicon-drop-left             { @include uxicon-mixin("e446");}
.uxicon-chev-right            { @include uxicon-mixin("e447");}
.uxicon-chev-left             { @include uxicon-mixin("e448");}
.uxicon-chev-down             { @include uxicon-mixin("e449");}
.uxicon-chev-up               { @include uxicon-mixin("e450");}
.uxicon-questionmark-fill     { @include uxicon-mixin("e452");}
