// Uxicons
//
$icon-font-path:             "assets/icons/" !default;
$icon-font-name:             "uxfont";
$icon-font-name-2:           "uxfont-2";

$uxicon-phone: \e324;
$uxicon-help: \e195;
$uxicon-chevron-right-lt: \e367;
$uxicon-chevron-down-lt: \e369;
$uxicon-x: \e208;
$uxicon-grid-horizontal: \e159;

@function ux-content($ux-var) {
  @return unquote("\"#{ $ux-var }\"");
}