/* reseller store plugin specific css */

@import '../icons/variables';

.utility-bar {
	z-index: 999;

	@media #{$small-only} {
		float: right;
		display: inline;
	}

	@media #{$medium-up} {
		float: right;
	}

	/* format the menu text */
	.basic-container {
		display: inline-block;

		padding-left: rem-calc(12);
		padding-right: rem-calc(12);
		font-size: emCalc(18);
		font-size: rem-calc(18);

		@media #{$medium-up} {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
			font-size: emCalc(15);
			font-size: rem-calc(15);
		}

		.rstore-login {
			background: #666666;
		}

		.rstore-view-cart {
			font-size: emCalc(19);
			font-size: rem-calc(19);
		}

		a.help-link {
			display: flex;
			line-height: 1;

			&:before {
				content: ux-content($uxicon-help);
				font-family: $icon-font-name;
				font-weight: 400;
				display: flex;
			}

			@media #{$medium-up} {
				&:before {
					display: none;
				}
			}
		}
	}

	@media #{$small-only} {
		.show-for-large-up, span.number {
			display: none
		}
	}

	.rstore-support-block {
		a:before {
			content: ux-content($uxicon-phone);
			font-family: $icon-font-name;
			padding-right: 3px;
		}
	}

	.tray-dropdown {
		width: 100%;
		display: none;
		position: fixed;
		left: 0px;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 999;

		.rstore-close-button {
			font-size: 24px;
			position: absolute;
			top: 20px;
			right: 40px;
			line-height: 1;
			color: #000;
			width: 1em;
			background-color: transparent;
			border-color: transparent;
			cursor: pointer;
			float: right;
			padding: 0;
			border-width: 0;
			z-index: 9999;

			&:before {
				content: "\D7";
			}

			@media #{$small-only}  {
				right: 20px;
			}
		}

		/* Links inside the dropdown */
		.account-info {
			@media #{$medium-up} {
				position: relative;
				margin: 3em;
			}

			@media #{$small-only} {
				margin: 1em;
			}

			.h3 {
				font-size: 1.42383rem;
				line-height: 1.80203rem;
				margin-bottom: 1.1519rem;
				font-weight: 500;

				&.logged-in {
					text-decoration: underline;
				}


				@media #{$large-up} {
					& {
						font-size: 1.60181rem;
						line-height: 2.02729rem;
						margin-bottom: 1.29589rem;
					}
				}
			}

			a {
				&.link {
					padding: 2px 16px;
					text-decoration: none;
					display: block;
				}

				&.button {
					margin: 0 0 15px 0;

					&.btn-default-purchase {
						color: #111;
						background-color: #FFF;
					}
				}
				
				&.my-account-button {
					float: left;
					margin: 10px;
				}

				&.logout-link {
					margin: 18px;
				}
			}

			.columns {
				@media #{$large-up} {
					float: right;
				}
				@media #{$medium-up} {
					min-height: 200px;
					margin-bottom: 6%;
				}
				@media #{$small-only} {
					margin-bottom: 1.2rem;
				}
			}
		}
	}
}


article {
	&.rstore-product, &.rstore-list-product {
		margin: 10px 0;
		padding: 40px 50px 20px 50px;
		-webkit-box-shadow: 0 1px 6px 0 rgba(102, 102, 102, .25);
		box-shadow: 0 1px 6px 0 rgba(102, 102, 102, .25);
		background-color: #FFF;
		color: #444;
		border: 0;
		border-radius: 6px;

		div.product {
			margin-bottom: 0;
			position: relative;
		}

		.product-header {
			header.entry-header {
				h2.entry-title, .archive-title {
					font-size: 1.8rem;
					font-size: 1.8em;
				}
			}
			.rstore-pricing {
				margin-bottom: 0;
			}
		}

		.entry-meta {
			clear: both;
		}

		.rstore-add-to-cart-form {
			clear: both;

			.rstore-message {
				display: inline-block;
				height: 0px;
			}

			.rstore-add-to-cart.button {
				margin: 0px;
				display: inline-block;
			}

			.rstore-loading,
			.rstore-cart {
				margin-right: 5px;
			}
		}

		&.rstore-list-product {
			.entry-summary {
				height: 250px;
				overflow: hidden;
				position: relative;
				margin: 0;
			}

			.entry-summary:after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2em;
				pointer-events: none;
				background: linear-gradient(rgba(255, 255, 255, 0), #fff);
			}
		}
	}
}

/* product widget */
.widget {
	&.rstore-Product {
		@media #{$medium-up} {
			h2.widgettitle {
				height: 2em;
			}

			ul {
				min-height: 231px
			}

			p {
				min-height: 35px
			}
		}

		.hero & {
			background: transparent;
			border: none;
		}
	}
}
